.page_header {
    font-family: sans-serif;
    width: 100%;
    padding: 5vh 5vh 2vh 5vh;
    background-color: black;
    color: rgb(214, 214, 214);
    z-index: 2;
}

.page_header h2 {
    font-size: 21pt;
    font-weight: normal;
    text-align: left;
    padding: 100px 25px 0px 0px;
    background-color: black;
    color: white;
}

.page_header h3 {
    font-size: 12pt;
}

.map_body {
    margin: 2vh;
    padding: 4vh 2vh 4vh 4vh;
    color: black;
    font-size: 12pt;
    background-color: white;
    z-index: 3;
}

#no_bills_key {
    padding-right: 10px;
    color: #E6E6E6;
}

#inactive_key {
    padding-right: 10px;
    color: #9E9E9E;
}

#intro_key {
    padding-right: 10px;
    color: #e75f5f;
}

#in_com_key {
    padding-right: 10px;
    color: #f7be68;
}

#in_cross_cham_key {
    padding-right: 10px;
    color: #f5ff6b;
}

#in_cross_com_key{
    padding-right: 10px;
    color: #a9f577;
}

#passed_key {
    padding-right: 10px;
    color: #7ca5ff;
}

#signed_key {
    padding-right: 10px;
    color: #dcb7ff;
}

#map {
    width: 100%;
    overflow: hidden;
}
#map_instruction {
    text-align: center;
    font-size: 18pt;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#state_title{
    text-align: center;
    font-size: 36pt;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.state_info {
    background-color: white;
    color: black;
    text-align: left;
}

.state_info h2 a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
    font-weight: bolder;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}
.state_info h2 a:hover {
    color: #43B02A;
}

.state_info h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-weight: bolder;
    margin: 20px 0 10px 20px;

}

.state_info li {
    margin-left: 50px;
}

.anchor {
    padding-top: 70px;
    margin-top: -70px;
    margin-bottom: 20px;
}
